{
	"arrowParens": "avoid",
	"bracketSpacing": false,
	"printWidth": 79,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"importOrder": [
		"^(react|gatsby)(/.+)?$",
		"^(?!.*\\.css$)([a-zA-Z]|@[a-zA-Z]).*$",
		"^(?!.*\\.css$)@/(.*)$",
		"^(?!.*\\.css$).+",
		".css$"
	],
	"importOrderSeparation": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"overrides": [
		{
			"files": "*.mdx",
			"options": {
				"tabWidth": 10000,
				"embeddedLanguageFormatting": "off",
				"proseWrap": "never",
				"singleAttributePerLine": false
			}
		}
	]
}
