.blog-list-page-header {
	background: var(--black);
}
.blog-list-page-header::after {
	border-right-color: var(--cyan) !important;
}
.blog-list {
	background: var(--cyan);
	padding: 30px;
}
.blog-list .blog-posts {
	list-style: none;
	margin: 0;
	padding: 0;
}
.blog-list .blog-post {
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.blog-list .blog-post h1 {
	font-size: var(--font-scale-4);
	margin-top: var(--font-scale--2);
}
.blog-list .blog-post section {
	padding-top: 1em;
}
.blog-list .blog-post section > :first-child {
	margin-top: 0;
}
.blog-list .page-navigation {
	align-items: center;
	display: flex;
	font-size: var(--font-scale-2);
	justify-content: space-between;
	margin: auto;
	max-width: 100%;
	padding: 1.5em 0;
	width: 12em;
}
.blog-list .page-navigation a {
	font-weight: bold;
	text-decoration: none;
}
.blog-list .page-navigation .current-page {
	color: var(--yellow);
}
