.blog-page .blog-post {
	margin-bottom: var(--s-4);
	padding-bottom: 0;
}
.blog-page .blog-post h1 {
	font: 900 var(--fs-4) var(--ff-heading);
}
.blog-page .blog-post:first-child h1 {
	margin-top: 0;
}
.blog-page h1 a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
/* TODO: Conflicting subheading styles should be cleaned up. */
.blog-page .blog-post .subheading {
	font-size: var(--fs--3);
	font-weight: 700;
	letter-spacing: 0.05em;
	margin: 0;
	padding-top: var(--s--3);
}
.blog-page .blog-post section {
	padding: var(--s-0) 0 0;
	& > :first-child {
		margin-top: 0;
	}
}
.blog-page .page-navigation {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 100%;
	padding: 0 0 var(--s-1);
	width: 12em;
	& a {
		font-weight: 700;
		text-decoration: none;
	}
	& .current-page {
		color: var(--color-fg-selected);
	}
}
