@font-face {
	font-display: optional;
	font-family: Geomanist;
	font-style: normal;
	font-weight: 400;
	src: url('geomanist-regular-webfont.woff2') format('woff2'),
		url('geomanist-regular-webfont.woff') format('woff');
}

@font-face {
	font-display: optional;
	font-family: Geomanist;
	font-style: italic;
	font-weight: 400;
	src: url('geomanist-regular-italic-webfont.woff2') format('woff2'),
		url('geomanist-regular-italic-webfont.woff') format('woff');
}

@font-face {
	font-display: optional;
	font-family: Geomanist;
	font-style: normal;
	font-weight: 500;
	src: url('geomanist-medium-webfont.woff2') format('woff2'),
		url('geomanist-medium-webfont.woff') format('woff');
}

@font-face {
	font-display: optional;
	font-family: Geomanist;
	font-style: italic;
	font-weight: 500;
	src: url('geomanist-medium-italic-webfont.woff2') format('woff2'),
		url('geomanist-medium-italic-webfont.woff') format('woff');
}

@font-face {
	font-display: optional;
	font-family: Geomanist;
	font-style: normal;
	font-weight: 900;
	src: url('geomanist-black-webfont.woff2') format('woff2'),
		url('geomanist-black-webfont.woff') format('woff');
}

@font-face {
	font-display: optional;
	font-family: Geomanist;
	font-style: italic;
	font-weight: 900;
	src: url('geomanist-black-italic-webfont.woff2') format('woff2'),
		url('geomanist-black-italic-webfont.woff') format('woff');
}
