.about-page-content {
	font-size: var(--font-scale-1);
	margin-top: 6em;
	overflow: hidden;
}
/* Copied from post template. */
.about-page .about-me {
	margin: auto;
	max-width: 90%;
	width: 36em;
}
.about-page .currently {
	color: var(--cfg);
}
.about-page .timeline {
	list-style: none;
	margin: 0;
	padding: 0;
}
.about-page .timeline li {
	margin: 0;
	position: relative;
}
.about-page .timeline .logo {
	height: 42px !important;
	width: 42px !important;
}
.about-page .timeline .job-title {
	font-size: var(--font-scale--2);
}
