blockquote {
	position: relative;
	color: var(--white);
	background: var(--black);
	margin: 0;
	height: 100vh;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

blockquote p {
	margin: 0;
}
