.about-stub {
	font-family: var(--fss) !important;
	font-size: var(--font-scale-3);
	font-weight: 400;
	grid-column: middle-column / span 2;
	margin-top: -0.25em;
	padding-bottom: 60px;
}
.about-stub p {
	display: inline;
}
.about-link {
	white-space: nowrap;
}
.about-arrow {
	display: inline-block;
	/* TODO(riley): Cross-platform option? */
	font-family: Menlo, var(--fss);
	width: 1ch;
}
.main-projects,
.main-recent {
	grid-column: middle-column / span 2;
}
.main-gallery {
	display: grid;
	gap: var(--grid-gap);
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.main-gallery .project {
	background: #005179;
	border-radius: 12px;
	box-shadow:
		6px 6px 12px #003159,
		-6px -6px 12px #0071b9;
	overflow: hidden;
	position: relative;
}
.main-gallery .bento-half-x {
	display: grid;
	gap: var(--grid-gap);
	grid-template-columns: 1fr 1fr;
	height: 100%;
}
.main-gallery .bento-half-y {
	display: grid;
	gap: var(--grid-gap);
	grid-template-rows: 1fr 1fr;
	height: 100%;
}
.main-gallery .deletion-day {
	background: #100d09;
	color: #f9c221;
	display: grid;
	font:
		84px 'Arial Black',
		sans-serif;
	height: 100%;
	place-content: center;
	position: relative;
}
.deletion-day a {
	color: inherit;
	text-decoration: none;
}
.main-gallery .image-link {
	display: block;
	position: relative;
}
.deletion-day a::after,
.main-gallery .image-link::after {
	background: rgb(255 255 255 / 50%);
	border-radius: 99px;
	color: #000;
	display: grid;
	font: 18px var(--fss);
	height: 20px;
	line-height: 1;
	padding-right: 2px;
	padding-top: 1px;
	place-content: center;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 20px;
}
.main-gallery img {
	/* filter: grayscale(100%); */
	transform: scale(1);
	transition:
		filter 0.25s ease-in-out,
		transform 0.5s ease-in-out !important;
}
.main-gallery img:hover {
	filter: grayscale(0%);
	transform: scale(1.025);
}
.explore-more {
	font-size: var(--font-scale-1);
}
@media screen and (width <= 1000px) {
	.about-stub {
		font-size: var(--font-scale-2);
		grid-column: left-column / span 3;
		margin: auto;
		max-width: 800px;
	}
	.main-projects,
	.main-recent {
		grid-column: left-column / span 3;
	}
}
