.main-content h2 {
	font-size: var(--font-scale-3);
	margin-top: 0;
}
.main-about .md-wrapper,
.main-about p {
	display: inline;
}
.main-about .about-link {
	white-space: nowrap;
}
.main-about .arrow {
	display: inline-block;
	/* TODO(riley): Cross-platform option? */
	font-family: Menlo, var(--fss), sans-serif;
	width: 1ch;
}
.section .row {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	padding: var(--font-scale-6) 5%;
}
.section .row > :first-child {
	display: inline-block;
	font-family: var(--fh);
	padding-right: 10px;
	text-align: right;
	vertical-align: top;
	width: 25%;
}
.section .row > :first-child h2 {
	margin-bottom: 0;
}
.section .row > :last-child {
	display: inline-block;
	font-family: var(--fs);
	padding-left: 100px;
	padding-top: 12px; /* HACK(riley): Align the h2. */
	position: relative;
	text-align: left;
	top: -4px;
	width: 70%;
}
.about-stub {
	font-size: var(--font-scale-2);
}
.about-stub .md-wrapper,
.about-stub p {
	display: inline;
}
.main-projects .content-grid {
	padding-top: 8px;
}
.main-projects .content-grid .content-node {
	grid-column-end: -1;
}
h2 + .lab-link {
	color: var(--cfg);
	font-size: var(--font-scale-1);
}
.explore-more {
	font-size: var(--font-scale-2);
}
@media only screen and (max-width: 960px) {
	.main-content .section .row > * {
		display: block;
		padding: 0;
		text-align: left;
		width: 100%;
	}
}
