.palette-test-tool ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.palette-test-tool .title {
	border-bottom: var(--cfg) 1px solid;
	margin: 1rem 18px 0;
	padding: 0;
}
.palette-test-tool .subtitle {
	color: var(--cfg);
	display: block;
	font-weight: bold;
	margin: 6px 18px 2rem;
	text-decoration: none;
}
.list-name {
	align-items: center;
	background: var(--cbg);
	bottom: 18px;
	display: inline-flex;
	height: 2rem;
	margin: 0 18px;
	padding: 0 0.2rem;
	position: sticky;
	top: 0;
	transform: translate(0, 1rem);
	z-index: 1;
}
.color-list {
	display: flex;
	height: 100vh;
	position: relative;
	width: 100vw;
}
.color-item {
	align-items: center;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	position: relative;
}
.color-item input {
	background: none;
	border: 0;
	display: inline-block;
	font-size: 42px;
	font-weight: bold;
	max-width: 12vw;
	text-align: center;
}
.color-item svg {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.multiply-test svg {
	mix-blend-mode: multiply;
}
.screen-test svg {
	mix-blend-mode: screen;
}
