.subscribe-page hr {
	margin: var(--font-scale-4) 0;
}
.subscribe-page .rss-feeds {
	display: grid;
	gap: var(--font-scale-2) var(--font-scale-1);
	grid-template-columns: max-content auto;
	margin-top: var(--font-scale-2);
}
.subscribe-page .rss-feeds dt {
	grid-column-start: 1;
}
.subscribe-page .rss-feeds dd {
	grid-column-start: 2;
	margin: 0;
}
@media only screen and (width <= 600px) {
	.subscribe-page .rss-feeds {
		grid-template-columns: 1fr;
	}
	.subscribe-page .rss-feeds dt,
	.subscribe-page .rss-feeds dd {
		grid-column: 1 / -1;
	}
}
