.curate-tags-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 5vh;
	height: 100vh;
	justify-content: space-between;
	padding: 5vh 0;
	width: 100vw;
}
.curate-tags-page .untagged-counter {
	font-weight: 700;
	left: 12px;
	position: absolute;
	top: 0;
}
.curate-tags-page .untagged-counter strong {
	font-size: 36px;
	margin-right: 0.2em;
	text-decoration: underline;
}
.curate-tags-page .content-node {
	flex-shrink: 1;
	margin: 0 10vw;
	overflow: auto;
}
.curate-tags-page .tag-select {
	width: 800px;
}
.curate-tags-page .buttons button {
	margin: 0 1em;
}
