.banner {
	align-items: center;
	background: var(--color-fg);
	color: var(--color-bg);
	display: flex;
	height: var(--font-scale-6);
	padding: 0 1em;
	text-align: center;
	width: 100%;
}
.banner > * {
	flex-grow: 1;
}
.banner button {
	background: none;
	border: 0;
	color: inherit;
	flex-grow: 0;
	font-size: var(--font-scale-1);
	margin-left: auto;
}
