.banner {
	align-items: center;
	background-color: var(--color-fg);
	color: var(--color-bg);
	display: flex;
	font-weight: 700;
	height: var(--s-2);
	padding: 0 1em;
	text-align: center;
}
.banner > * {
	flex-grow: 1;
}
.banner p {
	line-height: 1;
	margin: 0;
	text-wrap: balance;
}
.banner a {
	color: inherit;
}
.banner button {
	all: unset;
	flex-grow: 0;
	margin-left: auto;
}
