.big-quote {
	align-items: center;
	background: var(--black);
	color: var(--white);
	display: flex;
	flex-direction: column;
	font-family: var(--font-stack-serif);
	font-size: 30px;
	justify-content: space-between;
	margin: 0;
	min-height: 100vh;
	position: relative;
}
.big-quote::before {
	content: '';
	margin-top: 120px;
}
.big-quote.no-refresh::after {
	content: '';
	margin-bottom: 120px;
}
.big-quote::before,
.big-quote::after,
.big-quote .refresh {
	height: 60px;
	width: 60px;
}
.big-quote blockquote {
	margin: 0 auto;
	max-width: 60%;
}
.big-quote p {
	margin: 0 0 30px;
}
.big-quote footer {
	text-align: right;
}
.big-quote .refresh {
	background: none;
	border: 0;
	cursor: pointer;
	fill: var(--white);
	margin-bottom: 120px;
}
