.big-quote {
	align-items: center;
	display: flex;
	flex-direction: column;
	font: var(--fs-pretty-big) var(--ff-heading);
	grid-column: 1 / -1;
	justify-content: space-between;
	margin: 0;
	min-height: 100vh;
	position: relative;
}
.big-quote::before {
	content: '';
	margin-top: var(--s-5);
}
.big-quote.no-refresh::after {
	content: '';
	margin-bottom: var(--s-5);
}
.big-quote::before,
.big-quote::after,
.big-quote .refresh {
	font-size: var(--fs-6);
}
.big-quote blockquote {
	margin: 0 auto;
	max-width: 800px; /* TODO(riley): Add breakpoint variables. */
	padding-bottom: 2em;
	width: 90%;
}
.big-quote p {
	margin: 0 0 var(--s-0);
	text-align: justify;
}
.big-quote footer {
	margin-top: var(--s-0);
	text-align: right;
}
.big-quote .refresh {
	background: none;
	border: 0;
	color: var(--color-fg);
	margin-bottom: var(--s-5);
}
