.big-quote {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: var(--fs);
	font-size: var(--font-scale-2);
	grid-column: 1 / -1;
	justify-content: space-between;
	margin: 0;
	min-height: 100vh;
	position: relative;
}
.big-quote::before {
	content: '';
	margin-top: 120px;
}
.big-quote.no-refresh::after {
	content: '';
	margin-bottom: 120px;
}
.big-quote::before,
.big-quote::after,
.big-quote .refresh {
	font-size: 60px;
}
.big-quote blockquote {
	margin: 0 auto;
	max-width: 800px; /* TODO(riley): Add breakpoint variables. */
	padding-bottom: 2em;
	width: 90%;
}
.big-quote p {
	margin: 0 0 15px;
	text-align: justify;
}
.big-quote footer {
	margin-top: 30px;
	text-align: right;
}
.big-quote .refresh {
	background: none;
	border: 0;
	color: var(--color-fg);
	margin-bottom: 120px;
}
/* TODO(riley): Share these breakpoints. */
@media only screen and (width <= 800px) {
	.big-quote {
		font-size: var(--font-scale-0);
	}
}
