.big-quote {
	align-items: center;
	display: flex;
	flex-direction: column;
	font: var(--fs-pretty-big) var(--ff-heading);
	grid-column: 1 / -1;
	justify-content: center;
	margin: var(--s-4) 0;
	min-height: 100dvh;
	position: relative;
}
.big-quote-controls,
.big-quote blockquote {
	display: flex;
	margin-inline: auto;
	max-width: var(--s-11);
	width: 90%;
}
.big-quote-controls {
	font-size: var(--fs-6);
	justify-content: space-around;
}
.big-quote-control-container {
	display: grid;
	flex-basis: 0;
	overflow: hidden;
	place-items: center;
	text-align: center;
}
.big-quote-controls a {
	display: flex;
	text-decoration: none;
}
.big-quote-control-container.refresh {
	flex-grow: 1;
}
.big-quote-control-container.browse {
	animation:
		var(--transition-t-slow) big-quote-control-animate-in
			var(--transition-easing) forwards,
		var(--transition-t-xslow) var(--transition-t-fast) fade-in
			var(--transition-easing) forwards;
	font-size: var(--fs-5);
	opacity: 0;
}
.big-quote .site-quote {
	min-height: 50dvh;
}

@keyframes big-quote-control-animate-in {
	0% {
		flex-grow: 0.0001;
	}
	100% {
		flex-grow: 1;
	}
}
