.idle-blocker,
.idle-blocker button {
	background: var(--black);
	color: var(--white);
	font-family: var(--font-stack-serif);
}

.idle-blocker {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 10;
}

.idle-blocker ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0;
}

.idle-blocker button {
	border: 0;
	cursor: pointer;
	font-size: inherit;
	margin: 0 var(--font-scale-1);
	text-decoration: underline;
}
