.idle-blocker,
.idle-blocker button {
	background: var(--cfg);
	color: var(--cbg);
	font-family: var(--fs);
}
.idle-blocker {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 10;
}
.idle-blocker ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}
.idle-blocker button {
	border: 0;
	font-size: inherit;
	margin: 0 var(--font-scale-1);
	text-decoration: underline;
}
