.idle-blocker {
	align-items: center;
	background: var(--color-grey-1000);
	display: flex;
	flex-direction: column;
	height: 100dvh;
	justify-content: center;
	left: 0;
	overflow: hidden;
	overscroll-behavior: contain;
	padding: var(--s-1);
	pointer-events: auto;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100vw;
	z-index: 10;
}
.idle-blocker p,
.idle-blocker button {
	color: var(--color-grey-500);
	font: var(--fs-pretty-big) var(--ff-heading);
}
.idle-blocker p {
	text-wrap: balance;
}
.idle-blocker ul.options {
	display: flex;
	justify-content: space-between;
	margin-block: var(--s-0);
}
.idle-blocker button {
	background: none;
	border: 0;
	padding-inline: var(--s-0);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.25em;
}
.current-time {
	font-variant-numeric: tabular-nums;
}
