.blog-banner {
	border-radius: 6px;
	color: var(--color-grey-950);
	display: flex;
	font-size: var(--fs--2);
	margin: var(--s-2) 0;
	padding: var(--s--1) var(--s-0);
	width: 100%;
}
.blog-banner + .blog-banner {
	margin-top: 1.5em;
}
.blog-banner a {
	color: var(--color-grey-950);
}
.blog-banner-update {
	background: var(--color-blue-500);
}
.blog-banner-edit {
	background: var(--color-green-500);
}
.blog-banner-note {
	background: var(--color-yellow-500);
}
.blog-banner-title {
	border-right: 1px solid var(--color-grey-950);
	display: flex;
	flex-direction: column;
	font-weight: 700;
	justify-content: center;
	margin-right: var(--s--1);
	padding-right: var(--s--1);
	text-align: center;
	text-transform: uppercase;
}
.blog-banner-date {
	white-space: nowrap;
}
.blog-banner-content p {
	margin: 0;
}
.blog-banner-content p + p {
	margin-top: 1em;
}
.blog-banner-group {
	display: grid;
	grid-template-columns: auto 1fr;
	margin: var(--s-2) 0;
}
.blog-banner-group .blog-banner {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
	margin-bottom: 0;
}
.blog-banner-group :first-child {
	margin-top: 0;
}
.blog-banner-group .blog-banner-title {
	grid-column: 1;
}

@media only screen and (width <= 800px) {
	.blog-banner {
		flex-direction: column;
		padding: var(--s--1) var(--s--1);
	}
	.blog-banner-group .blog-banner {
		display: block;
	}
	.blog-banner-title {
		border: 0;
		margin-bottom: 0;
		text-decoration: underline;
	}
}
