.blog-banner {
	border-radius: 6px;
	color: var(--color-bg);
	display: flex;
	font-size: var(--font-scale--2);
	margin: 2em 0 1em;
	padding: 1em 2em;
	width: 100%;
}
.blog-banner + .blog-banner {
	margin-top: 1.5em;
}
.blog-banner + p {
	margin-top: 2em;
}
.blog-banner a {
	color: var(--color-bg);
}
.blog-banner-note a {
	color: var(--color-fg);
}
.blog-banner-update {
	background: var(--color-p3);
}
.blog-banner-edit {
	background: var(--color-p1);
}
.blog-banner-note {
	background: var(--color-s3);
	color: var(--color-fg);
}
.blog-banner-title {
	align-items: center;
	border-right: 1px solid var(--color-bg);
	display: flex;
	font-weight: 500;
	margin-right: 1.5em;
	padding-right: 1.5em;
}
.blog-banner-note .blog-banner-title {
	border-color: var(--color-fg);
}
.blog-banner-content {
	font-family: var(--fs);
}
.blog-banner-content p {
	margin: 0;
}
.blog-banner-content p + p {
	margin-top: 1em;
}
.blog-banner-group {
	display: grid;
	grid-template-columns: auto 1fr;
	margin-bottom: 2em;
}
.blog-banner-group .blog-banner {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
	margin-bottom: 0;
}
.blog-banner-group .blog-banner-title {
	grid-column: 1;
}
@media only screen and (width <= 800px) {
	.blog-banner {
		flex-direction: column;
		padding: 1em 1.5em;
	}
	.blog-banner-group .blog-banner {
		display: block;
	}
	.blog-banner-title {
		border: 0;
		margin-bottom: 0;
		text-decoration: underline;
	}
}
