ul.content-list {
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: min-content 1fr;
	padding-block: var(--s-0);
}
.content-list li {
	align-items: baseline;
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
}
.content-list .item-date {
	grid-column: 1;
}
.content-list .item-content {
	grid-column: 2;
}
.content-list time {
	font-variant-numeric: tabular-nums;
	letter-spacing: -0.1em;
}

@media screen and (width <= 800px) {
	.content-list li {
		display: block;
		text-wrap: pretty;
	}
}
