.content-node {
	background: var(--white);
	border: 2px solid var(--black);
	box-shadow: 3px 3px var(--black);
	padding: 16px 12px;
	position: relative;
}
.content-node.unmeasured {
	visibility: hidden;
}
.content-node:active {
	box-shadow: none;
	transform: translate(3px, 3px);
}
/* TODO(riley): Share these styles and bring link style out to root node. */
/* TODO(riley): Move this into a semantic element, since it means something. */
.content-node .content-type {
	align-items: center;
	background: var(--white);
	border: 2px solid var(--black);
	color: var(--black);
	display: flex;
	font-size: 14px;
	font-weight: bold;
	height: 24px;
	justify-content: center;
	left: -2px;
	padding: 0 12px;
	position: absolute;
	top: -2px;
}
.content-node h3 {
	font-size: 1.5em;
	margin-bottom: 3px;
}
.content-node :not(h3) > a {
	position: relative;
}
.content-node h3 a[target="_blank"]::after {
	align-items: center;
	background: var(--white);
	border: 2px solid var(--black);
	color: var(--black);
	display: flex;
	font-size: 24px;
	height: 24px;
	justify-content: center;
	position: absolute;
	right: -2px;
	top: -2px;
	width: 24px;
}
.content-node time::before {
	content: "0";
}
.content-node time {
	color: #aaa;
	display: block;
	font-size: 12px;
}
.content-node.span-2 {
	grid-column-end: span 2;
}
.content-node.span-3 {
	grid-column-end: span 3;
}
.content-node.span-4 {
	grid-column-end: span 4;
}
.content-node.span-5 {
	grid-column-end: span 5;
}
.content-node.span-6 {
	grid-column-end: span 6;
}
.content-node .tags {
	list-style: none;
	margin: auto 0 0;
	padding: 16px 0 0;
}
.content-node.measured .inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100%;
}
.content-node .tags li {
	background: var(--black);
	border-radius: 10px;
	color: var(--white);
	display: inline-block;
	font-size: 12px;
	height: 20px;
	letter-spacing: 2px;
	line-height: 20px;
	margin-right: 16px;
	margin-top: 8px;
	padding: 0 12px;
}
.content-node.icon img {
	height: 42px;
	margin: auto;
	width: 42px;
}
