.content-node {
	border: 1px solid var(--color-fg-ultramute);
	padding: 0 12px 12px;
	position: relative;
}
.content-node.doodle {
	padding: 0;
}
.content-node .song-content,
.content-node .dweet-content {
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: center;
	margin: 12px 0 24px;
}
.content-node .dweet-content {
	height: auto;
	padding: 36% 0;
	position: relative;
}
.content-node .dweet-content iframe {
	inset: 0;
	position: absolute;
}
.content-node .video-embed {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: var(--s-0);
	padding-bottom: 56.25%;
	position: relative;
}
.content-node .video-embed .block-embed-button {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.content-node .video-embed iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
/* TODO(riley): Share these styles and bring link style out to root node. */
/* TODO(riley): Move this into a semantic element, since it means something. */
.content-node .content-type {
	align-items: center;
	background: var(--color-bg);
	border: 1px solid var(--color-fg-ultramute);
	display: flex;
	font-size: var(--fs--2);
	font-weight: 700;
	height: 27px;
	justify-content: center;
	left: -1px;
	padding: 0 var(--s--2);
	position: absolute;
	top: -1px;
}
.content-node h1 {
	font-size: var(--fs-2);
	line-height: 1.5;
	padding-top: var(--s-1);
}
.content-node :not(h1) > a {
	position: relative;
}
.content-node h1 a[target='_blank']::after {
	align-items: center;
	border: 1px solid var(--color-fg-ultramute);
	content: '\2197';
	display: flex;
	height: 27px;
	justify-content: center;
	position: absolute;
	right: -1px;
	top: -1px;
	width: 27px;
}
.content-node .subheading {
	font-size: var(--fs--3);
	letter-spacing: 0.05em;
	padding-bottom: var(--s--2);
}
.content-node main {
	display: flex;
	flex-basis: 0;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}
.content-node.span-2 {
	grid-column-end: span 2;
}
/* So hack. */
/* 210 = page gutters (60px) + 2 columns (2 * 60px) + 1 gap (30px)… etc. */
@media only screen and (width <= 210px) {
	.content-node.span-2 {
		grid-column: 1 / -1;
	}
}
.content-node.span-3 {
	grid-column-end: span 3;
}

@media only screen and (width <= 300px) {
	.content-node.span-3 {
		grid-column: 1 / -1;
	}
}
.content-node.span-4 {
	grid-column-end: span 4;
}

@media only screen and (width <= 390px) {
	.content-node.span-4 {
		grid-column: 1 / -1;
	}
}
.content-node.span-5 {
	grid-column-end: span 5;
}

@media only screen and (width <= 480px) {
	.content-node.span-5 {
		grid-column: 1 / -1;
	}
}
.content-node.span-6 {
	grid-column-end: span 6;
}

@media only screen and (width <= 570px) {
	.content-node.span-6 {
		grid-column: 1 / -1;
	}
}
.content-node footer {
	margin-top: auto;
}
.masonry .content-node.measured .inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100%;
}
.content-node .tags li {
	border: 1px solid var(--color-fg-ultramute);
	border-radius: 100px;
	display: inline-block;
	font-size: var(--fs--3);
	letter-spacing: 0.1em;
	margin: 0;
	margin-right: var(--s--2);
	padding: var(--s--4) var(--s--2);
}
.content-node.icon img {
	height: 100px;
	margin: auto;
	width: 100px;
}
.content-node .screenshot-content img,
.content-node .screenshot-content video {
	height: auto;
	width: 100%;
}
.dark-theme .content-node.icon img {
	filter: invert(1);
}
.excerpt {
	position: relative;
}
.excerpt::after {
	background: linear-gradient(
		transparent,
		color-mix(in srgb, var(--color-bg) 75%, transparent)
	);
	bottom: 0;
	content: '';
	display: block;
	height: 2em;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
}
.content-node .continue-reading {
	font-size: inherit;
	text-align: right;
}
.content-node .image-link::after {
	content: '';
}
