.lab-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(60px, max-content));
	justify-content: space-around;
	align-items: center;
	grid-gap: 30px;
	grid-auto-flow: row dense;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
