.doingreat-grid {
	grid-area: 9 / 2 / span 1 / span 3;
	justify-items: stretch;
	text-align: center;
	font-weight: bold;
	color: var(--green);
	background: var(--blue);
	place-self: stretch;
}

.doingreat-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.doingreat-item:nth-child(even) {
	color: var(--blue);
	background: var(--green);
}

.wavebump-item,
.droplet-item,
.circles-item {
	display: flex;
	justify-content: center;
	align-items: center;
	place-self: stretch;
}

.wavebump-item,
.droplet-item {
	font-size: 100px;
}

.wavebump-item {
	grid-area: 7 / -4 / span 1 / span 3;
	color: var(--yellow);
	background: var(--red);
}

.droplet-item {
	grid-area: 27 / 4 / span 1 / span 3;
	color: var(--cyan);
	background: var(--blue);
}

.circles-grid {
	place-self: stretch;
	grid-area: 8 / 4 / span 1 / span 3;
	font-size: 36px;
	color: var(--magenta);
	background: var(--blue);
}
