.lab-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 10px;
	grid-auto-flow: dense;
	list-style: none;
	width: 100%;
}

.lab-grid li {
	border: 1px solid #000;
}

.lab-grid .span-2 {
	grid-column-end: span 2;
}
