.fit-3-parent {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	/* color: var(--cfg); */
	/* -moz-text-fill-color: var(--cbg);
	-moz-text-stroke: 5px var(--cfg);
	-webkit-text-fill-color: var(--cbg);
	-webkit-text-stroke: 6px var(--cfg);
	paint-order: stroke fill; */
	margin: -0.2em 0;
}
.fit-3-child {
	font-family: var(--fh);
	margin: 0;
	text-align: center;
	white-space: nowrap;
}
