.go-up {
	align-items: center;
	background: var(--yellow);
	display: flex;
	font-size: 600px;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}
.go-up span {
	color: var(--black);
	cursor: n-resize;
	transform: rotate(-90deg);
}
