.go-up {
	align-items: center;
	display: flex;
	/* TODO(riley): Cross-platform option? */
	font-family: Menlo, var(--ff-sans);
	font-size: 600px;
	grid-column: 1 / -1;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}
.go-up span {
	cursor: n-resize;
	transform: translate(-10%, 0) rotate(-90deg);
}
/* TODO(riley): Share these breakpoints. */
@media only screen and (width <= 800px) {
	.go-up {
		font-size: 300px;
	}
}
