.content-node.doingreat-grid {
	background: var(--cfg);
	color: var(--cbg);
	font-family: var(--fh);
	font-weight: 900;
	grid-area: span 2 / span 2;
	justify-items: stretch;
	text-align: center;
}
.doingreat-item {
	align-items: center;
	display: flex;
	justify-content: center;
}
.doingreat-item:nth-child(even) {
	background: var(--cbg);
	color: var(--cfg);
}
.wavebump-item,
.droplet-item,
.circles-item,
.snowman {
	align-items: center;
	display: flex;
	justify-content: center;
}
.wavebump-item,
.droplet-item {
	font-size: 100px;
}
.content-node.wavebump-item {
	background: var(--cr);
	color: var(--cy);
	/* grid-area: 7 / -4 / span 1 / span 3; */
	grid-area: span 3 / span 2;
}
.content-node.wavebump-item.tall {
	background: var(--cg);
	color: var(--cr);
	grid-area: span 5 / span 2;
}
.content-node.droplet-item {
	background: var(--cb);
	color: var(--cc);
	/* grid-area: 27 / 4 / span 1 / span 3; */
	grid-area: span 5 / span 3;
}
.content-node.circles-grid {
	background: var(--cy);
	color: var(--cm);
	font-size: 60px;
	/* grid-area: 8 / 4 / span 1 / span 3; */
	grid-area: span 2 / span 3;
}
.content-node.snowman {
	font-size: 30px;
	grid-area: span 1 / span 1;
}
.wavytext {
	align-items: center;
	background: var(--cb);
	color: var(--cy);
	display: flex;
	font: 900 var(--font-scale--1) var(--fh);
	grid-area: span 1 / span 3;
	justify-content: space-around;
	padding-top: 20px;
}
.wavytext span {
	animation: hop 1s infinite alternate ease-in-out;
	display: inline-block;
}
@keyframes hop {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(0, -20px, 0);
	}
}
