.content-node.doingreat-grid {
	background: var(--red);
	color: var(--green);
	font-weight: bold;
	/* grid-area: 9 / 2 / span 1 / span 3; */
	grid-area: span 1 / span 2;
	justify-items: stretch;
	text-align: center;
}
.doingreat-item {
	align-items: center;
	display: flex;
	justify-content: center;
}
.doingreat-item:nth-child(even) {
	background: var(--green);
	color: var(--blue);
}
.wavebump-item,
.droplet-item,
.circles-item,
.snowman {
	align-items: center;
	display: flex;
	justify-content: center;
}
.wavebump-item,
.droplet-item {
	font-size: 100px;
}
.content-node.wavebump-item {
	background: var(--red);
	color: var(--yellow);
	/* grid-area: 7 / -4 / span 1 / span 3; */
	grid-area: span 1 / span 2;
}
.content-node.wavebump-item.tall {
	background: var(--green);
	color: var(--yellow);
	grid-area: span 7 / span 2;
}
.content-node.droplet-item {
	background: var(--blue);
	color: var(--cyan);
	/* grid-area: 27 / 4 / span 1 / span 3; */
	grid-area: span 2 / span 2;
}
.content-node.circles-grid {
	background: var(--blue);
	color: var(--magenta);
	font-size: 60px;
	/* grid-area: 8 / 4 / span 1 / span 3; */
	grid-area: span 2 / span 3;
}
.content-node.snowman {
	font-size: 30px;
	grid-area: span 1 / span 2;
}
