.content-node.doingreat-grid {
	/* grid-area: 9 / 2 / span 1 / span 3; */
	justify-items: stretch;
	text-align: center;
	font-weight: bold;
	color: var(--green);
	background: var(--red);
}

.doingreat-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.doingreat-item:nth-child(even) {
	color: var(--blue);
	background: var(--green);
}

.wavebump-item,
.droplet-item,
.circles-item,
.snowman {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wavebump-item,
.droplet-item {
	font-size: 100px;
}

.content-node.wavebump-item {
	/* grid-area: 7 / -4 / span 1 / span 3; */
	grid-area: span 1 / span 2;
	color: var(--yellow);
	background: var(--red);
}

.content-node.wavebump-item.tall {
	grid-area: span 9 / span 2;
	color: var(--yellow);
	background: var(--green);
}

.content-node.droplet-item {
	/* grid-area: 27 / 4 / span 1 / span 3; */
	grid-area: span 1 / span 2;
	color: var(--cyan);
	background: var(--blue);
}

.content-node.circles-grid {
	/* grid-area: 8 / 4 / span 1 / span 3; */
	grid-area: span 2 / span 3;
	font-size: 60px;
	color: var(--magenta);
	background: var(--blue);
}

.content-node.snowman {
	font-size: 30px;
}
