.page-header {
	height: 60px;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: bold;
}

.page-header ul {
	list-style: none;
	display: flex;
	align-items: stretch;
}

.page-header .home-link {
	margin: 0;
	font-size: 18px;
}

.page-header a {
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	color: inherit;
	padding: 0 1em;
}

.page-header a.hidden {
	display: none;
}

.page-header a:hover {
	background: #f00;
	text-decoration: underline;
}

.page-header .home-link a {
	padding-left: 2em;
}

.page-header li:last-child a {
	padding-right: 2em;
}
