.newsletter-form,
.newsletter-form input {
	font-family: var(--fs);
	font-weight: 500;
}
.newsletter-form {
	margin-bottom: var(--font-scale-3);
}
.newsletter-form label {
	display: block;
	font-size: var(--font-scale-1);
	margin-bottom: var(--font-scale--1);
}
.newsletter-form input {
	appearance: none;
	border-radius: 0;
	font-size: var(--font-scale--1);
	margin: 0;
}
.newsletter-form .bottom-row {
	display: flex;
	height: 60px;
	margin: var(--font-scale--1) 0;
}
.newsletter-form input[type='text'] {
	border: 1px solid var(--cfg);
	border-right: 0;
	flex-grow: 1;
	padding: 4px 12px;
}
.newsletter-form input[type='submit'] {
	background: var(--cfg);
	border: 0;
	color: var(--cbg);
	cursor: pointer;
	font-family: var(--fss);
}
