.newsletter-form {
	margin-bottom: var(--s-0);
}
.newsletter-form label {
	display: block;
	font-size: inherit;
	margin-bottom: var(--s-0);
}
.newsletter-form input {
	appearance: none;
	border-radius: 0;
	margin: 0;
}
.newsletter-form input[type='email'] {
	border: 1px solid var(--color-grey-500);
	border-right: 0;
	flex-grow: 1;
	font-size: inherit;
	padding: var(--s--4) var(--s--2);
}
.newsletter-form input[type='submit'] {
	background: var(--color-fg);
	border: 0;
	color: var(--color-bg);
	cursor: pointer;
	font: var(--fs--2) var(--ff-sans);
	padding: 0 var(--s--2);
}
/* Allowing for inner div in case an extension wraps the input eg. FF Relay. */
.newsletter-form .bottom-row,
.newsletter-form .bottom-row > div {
	display: flex;
	height: var(--s-3);
}
