.page-picker-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}
.page-picker {
	border: 2px solid rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
.page-picker .page-links {
	border-top: 2px solid rgba(0, 0, 0, 0.5);
}
.page-picker ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.page-picker .icon {
	display: flex;
	height: 30px;
	margin-right: 0.5em;
	width: 30px;
}
.page-picker svg {
	fill: var(--white);
	height: 100%;
	width: 100%;
}
.page-picker .page-title {
	align-items: center;
	color: var(--white);
	display: flex;
	font: 2em var(--font-stack-heading);
	margin: 0;
	padding: 12px 2em 12px 0.5em;
	position: relative;
	text-decoration: none;
}
.page-picker .page-title .arrow {
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.5em;
	line-height: 2em;
	position: absolute;
	right: 1em;
}
.page-picker .page-title sup {
	font-size: 0.5em;
	margin: -12px 6px 0;
}
