.page-header {
	align-items: flex-end;
	border-bottom: 4px solid var(--color-fg);
	display: flex;
	justify-content: space-between;
	padding: 1em 1em 0;
}
.page-header:focus {
	outline: none;
}
.title {
	color: var(--color-fg);
	font-family: var(--fh);
	font-size: var(--font-scale-4);
	font-weight: 500;
	isolation: isolate;
	line-height: 1.1;
	margin: 0;
	padding-bottom: 12px;
	position: relative;
}
.page-header a {
	text-decoration: none;
}
.title .c,
.title .m,
.title .y {
	width: max-content;
	will-change: left, top;
}
.title .c {
	color: var(--color-s1);
	position: relative;
}
.title .c > :last-child {
	margin-bottom: -0.1em;
}
.title .m,
.title .y {
	pointer-events: none;
	position: absolute;
	user-select: none;
}
.title .m {
	color: var(--color-s2);
}
.title .y {
	color: var(--color-s3);
}
.title span {
	display: block;
}
