.page-header {
	display: flex;
	justify-content: space-between;
	margin: 1em 1em 0;
}
.title {
	border-bottom: 6px solid var(--black);
	display: flex;
	flex-direction: column;
	font-family: var(--font-stack-heading);
	font-size: var(--font-scale-5);
	font-weight: 900;
	line-height: 1;
	margin: 0;
	padding-bottom: var(--font-scale--3);
}
.title a {
	color: var(--black);
	display: flex;
	flex-direction: column;
}
