.page-picker-wrapper {
	display: flex;
	padding: 30px 0;
	justify-content: space-between;
}

.page-picker {
	cursor: pointer;
	border: 2px solid rgba(0, 0, 0, 0.5);
}

.page-picker .page-links {
	border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.page-picker ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.page-picker .icon {
	height: 30px;
	width: 30px;
	margin-right: 0.5em;
	display: flex;
}

.page-picker svg {
	fill: var(--white);
	width: 100%;
	height: 100%;
}

.page-picker .page-title {
	margin: 0;
	color: var(--white);
	text-decoration: none;
	font: 2em 'Arial Black';
	padding: 12px 2em 12px 0.5em;
	display: flex;
	align-items: center;
	position: relative;
}

.page-picker .page-title .arrow {
	font-size: 0.5em;
	line-height: 2em;
	color: rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 1em;
}

.page-picker .page-title sup {
	font-size: 0.5em;
	margin: -12px 6px 0;
}
