.page-header {
	align-items: center;
	color: var(--color-fg);
	display: grid;
	grid-column: left-column / span 2;
	grid-template-columns: subgrid;
	font-family: var(--fh);
	margin-top: var(--font-scale-1);
	padding-bottom: 60px;
	height: 120px;
}
.page-header .home-link {
	display: block;
	position: relative;
	height: 100%;
}
.page-header .home-icon {
	display: block;
	position: absolute;
	top: 25%;
	left: 0;
	height: 50%;
}
.page-header .title {
	font: inherit;
	font-size: var(--font-scale-2);
	margin: 0;
	position: relative;
	top: 1px;
}
.page-header a {
	color: var(--color-fg);
	text-decoration: none;
}
@media screen and (max-width: 1000px) {
	.page-header .title {
		text-align: center;
	}
}
