.project-explorer {
	display: grid;
	grid-column: left-column / span 3;
	grid-template-columns: subgrid;
}
.project-explorer .filters-wrapper {
	grid-column: middle-column / span 2;
}
.project-explorer .filters {
	align-items: flex-start;
	display: grid;
	gap: var(--s--4);
	grid-template-columns: [legends] auto [inputs] 1fr [cancel] auto;
	margin-bottom: var(--s-0);
}
.project-explorer .filters fieldset {
	display: contents;
	grid-column: 1 / -1;
}
.project-explorer .filters legend,
.project-explorer .result-details {
	line-height: 40px; /* HACK(riley): Matches the button size. */
}
.project-explorer .filters legend {
	grid-column: legends / span 1;
}
.project-explorer .filters .inputs {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	grid-column: inputs / span 1;
}
.project-explorer .filters .labs-clear {
	grid-column: cancel / span 1;
}
.project-explorer .filters label,
.project-explorer .filters button {
	background: var(--color-bg);
	border: 1px solid var(--color-fg-ultramute);
	cursor: pointer;
	display: inline-block;
	font-size: var(--fs--2);
	font-weight: 700;
	margin: var(--s--4);
	padding: var(--s--4) var(--s--2);
}
.project-explorer button:active,
.project-explorer .filters :checked + label {
	background: var(--color-bg-selected);
	border-color: var(--color-fg);
}
.project-explorer .filters header button {
	margin: 0 0 0 auto;
}

@media screen and (width <= 1000px) {
	.project-explorer .filters-wrapper {
		grid-column: left-column / span 3;
	}
}
