.project-explorer {
	min-height: 100vh;
	padding: var(--grid-gap) var(--half-grid-gap);
}
.project-explorer .controls {
	align-items: flex-start;
	display: grid;
	grid-template-columns: [legends] auto [inputs] 1fr [cancel] auto;
}
.project-explorer .filters fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.project-explorer .filters fieldset fieldset {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	grid-column: 1/-1;
	padding: 0;
}
.project-explorer .filters .legend,
.project-explorer .result-details {
	font-family: var(--fh);
	font-size: var(--font-scale-1);
	font-weight: 500;
	grid-column: legends;
	line-height: 47px; /* HACK(riley): Matches the button size. */
}
.project-explorer .filters .legend {
	font-weight: 900;
	margin: 0;
}
.project-explorer .filters .inputs {
	grid-column: inputs;
}
.project-explorer .filters .labs-clear {
	grid-column: cancel;
}
.project-explorer-hide-filters,
.project-explorer .filters label,
.project-explorer .filters button {
	background: var(--color-bg);
	border: 1px solid var(--color-fg);
	box-shadow: 2px 2px var(--color-fg);
	cursor: pointer;
	display: inline-block;
	font-family: var(--fh);
	font-size: var(--font-scale--1);
	font-weight: 500;
	margin: 0 0 var(--grid-gap) 16px;
	padding: 10px 20px;
}
.project-explorer-hide-filters {
	margin-left: 0;
	width: 100%;
}
.project-explorer button:active,
.project-explorer .filters :checked + label {
	background: var(--grey);
	box-shadow: none;
	font-weight: 900;
	text-decoration: underline 2px;
	transform: translate(3px, 3px);
}
.project-explorer .filters header button {
	margin: 0 0 0 auto;
}
