.project-explorer {
	padding: 30px;
}
.project-explorer .controls {
	align-items: start;
	display: grid;
	grid-template-columns: [legends] auto [inputs] 1fr [cancel] auto;
}
.project-explorer .filters fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.project-explorer .filters fieldset fieldset {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	grid-column: 1/-1;
	padding: 0;
}
.project-explorer .filters legend,
.project-explorer .result-details {
	color: var(--white);
	float: left;
	font: 900 var(--font-scale-1) var(--font-stack-heading);
	grid-column: legends;
	line-height: 47px; /* HACK(riley): Matches the button size. */
}
.project-explorer .filters input {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.page-picker-wrapper button,
.project-explorer .filters label,
.project-explorer .filters button {
	background: var(--cyan);
	border: 2px solid var(--black);
	box-shadow: 3px 3px var(--black);
	cursor: pointer;
	display: inline-block;
	font: 900 var(--font-scale--1) var(--font-stack-heading);
	margin: 0 0 30px 16px;
	padding: 10px 20px;
}
.project-explorer .filters header button {
	margin: 0 0 0 auto;
}
.project-explorer .filters :checked + label,
.project-explorer .filters button:active {
	border-color: var(--white);
	box-shadow: none;
	transform: translate(3px, 3px);
	/* box-shadow: 0 0 2px var(--white); */
}
