.project-explorer {
	display: grid;
	grid-column: left-column / span 3;
	grid-template-columns: subgrid;
	min-height: 100vh;
}
.project-explorer .filters-wrapper {
	grid-column: middle-column / span 2;
}
.project-explorer .filters {
	align-items: flex-start;
	display: grid;
	grid-template-columns: [legends] auto [inputs] 1fr [cancel] auto;
}
.project-explorer .filters fieldset {
	border: 0;
	display: contents;
	grid-column: 1 / -1;
	margin: 0;
	padding: 0;
}
.project-explorer .filters legend,
.project-explorer .result-details {
	font-family: var(--fh);
	font-size: var(--font-scale-1);
	font-weight: 500;
	line-height: 47px; /* HACK(riley): Matches the button size. */
}
.project-explorer .filters legend {
	font-weight: 900;
	grid-column: legends / span 1;
	margin: 0;
}
.project-explorer .filters .inputs {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	grid-column: inputs / span 1;
}
.project-explorer .filters .labs-clear {
	grid-column: cancel / span 1;
}
.project-explorer-hide-filters,
.project-explorer .filters label,
.project-explorer .filters button {
	background: var(--color-bg);
	border: 1px solid var(--color-fg);
	box-shadow: 2px 2px var(--color-fg);
	cursor: pointer;
	display: inline-block;
	font-family: var(--fh);
	font-size: var(--font-scale--1);
	font-weight: 500;
	margin: 0 0 var(--grid-gap) 16px;
	padding: 10px 20px;
}
.project-explorer-hide-filters {
	margin-left: 0;
	width: 100%;
}
.project-explorer button:active,
.project-explorer .filters :checked + label {
	background: var(--grey);
	box-shadow: none;
	font-weight: 900;
	text-decoration: underline 2px;
	transform: translate(3px, 3px);
}
.project-explorer .filters header button {
	margin: 0 0 0 auto;
}

@media screen and (width <= 1000px) {
	.project-explorer .filters-wrapper {
		grid-column: left-column / span 3;
	}
}
