.site-quote {
	flex-direction: column;
	justify-content: center;
	padding-bottom: var(--s-2);
}
.site-quote p {
	margin-bottom: var(--s--1);
	text-align: justify;
}
.site-quote footer {
	margin-top: var(--s-0);
	text-align: right;
	text-wrap: balance;
}
