:root {
	--cfg-emphasis: #000;
	--cfg-emphasis-rgb: 0, 0, 0;
	--cui: var(--cy);
	--cui-emphasis: #dbbe00;
	--cui-error: var(--cr);
	--fader-height: 200px;
	--fader-width: 6px;
}
.scaling-faders-demo,
.scaling-faderbanks,
.scaling-faderbank,
.scaling-faders,
.scaling-fader-container {
	align-items: center;
	display: flex;
	flex-shrink: 1;
	justify-content: center;
	min-width: 0;
}
.scaling-faders-demo {
	color: var(--cfg);
	flex-direction: column;
	font: italic 600 24px var(--fs);
	height: 400px;
	margin-bottom: var(--font-scale-4);
	max-width: 100%;
}
.scaling-faderbanks {
	margin: 0 calc(var(--fader-width) * 2) var(--font-scale-2);
}
.scaling-faderbank {
	flex-direction: column;
	margin: 0 calc(var(--fader-width) * 2);
}
.scaling-faders {
	padding: 24px 0;
	position: relative;
	width: 100%;
}
.scaling-faders::before,
.scaling-faders::after {
	border: solid var(--cfg);
	content: '';
	height: 12px;
	position: absolute;
}
.scaling-faders::before {
	border-width: 0 3px 3px 3px;
	bottom: 0;
	width: 100%;
}
.scaling-faders::after {
	border-width: 0 0 0 3px;
	bottom: -12px;
}
.scaling-fader-container {
	flex: 1 1;
	height: var(--fader-height);
	width: 48px;
}
.scaling-fader {
	-webkit-appearance: none;
	background-color: var(--cfg);
	border: 0;
	border-radius: calc(var(--fader-width) / 2);
	cursor: pointer;
	flex-shrink: 0;
	height: var(--fader-width);
	margin: 0;
	outline: 0;
	padding: 0;
	transform: rotate(-90deg);
	width: var(--fader-height);
}
.scaling-fader::-webkit-slider-runnable-track {
	background: var(--cfg);
	border: 0;
	border-radius: calc(var(--fader-width) / 2);
	cursor: pointer;
	height: var(--fader-width);
	width: var(--fader-height);
}
.scaling-fader::-moz-range-track {
	background: var(--cfg);
	border: 0;
	border-radius: calc(var(--fader-width) / 2);
	cursor: pointer;
	height: var(--fader-width);
	width: var(--fader-height);
}
.scaling-fader::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: var(--cui);
	border: var(--fader-width) solid var(--cfg);
	border-radius: 50%;
	box-sizing: content-box;
	cursor: pointer;
	height: calc(var(--fader-width) * 3);
	margin-top: calc(var(--fader-width) * -2);
	width: calc(var(--fader-width) * 3);
}
.scaling-fader-locked .scaling-fader::-webkit-slider-thumb {
	background: var(--cui-error) !important;
}
.scaling-fader::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: var(--cui);
	border: var(--fader-width) solid var(--cfg);
	border-radius: 50%;
	cursor: pointer;
	height: calc(var(--fader-width) * 3);
	width: calc(var(--fader-width) * 3);
}
.scaling-fader-locked .scaling-fader::-moz-range-thumb {
	background: var(--cui-error) !important;
}
.scaling-fader::-ms-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: var(--cui);
	border: var(--fader-width) solid var(--cfg);
	border-radius: 50%;
	cursor: pointer;
	height: calc(var(--fader-width) * 3);
	margin-top: 0;
	width: calc(var(--fader-width) * 3);
}
.scaling-fader-locked .scaling-fader::-ms-thumb {
	background: var(--cui-error) !important;
}
.scaling-fader::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 9px 0;
	color: transparent;
	cursor: pointer;
	height: var(--fader-width);
	width: var(--fader-height);
}
.scaling-fader::-ms-fill-lower,
.scaling-fader::-ms-fill-upper {
	background: var(--cfg);
	border: 0;
	border-radius: calc(var(--fader-width) / 2);
}
.scaling-fader:active::-webkit-slider-thumb {
	background: var(--cui-emphasis);
}
.scaling-fader:active::-moz-range-thumb {
	background: var(--cui-emphasis);
}
.scaling-fader:active::-ms-thumb {
	background: var(--cui-emphasis);
}
.scaling-fader:focus,
.scaling-fader:hover {
	background: var(--cfg-emphasis);
	outline: none;
}
.scaling-fader:focus ::-webkit-slider-runnable-track,
.scaling-fader:hover ::-webkit-slider-runnable-track {
	background: var(--cfg-emphasis);
}
.scaling-fader:focus::-ms-fill-lower,
.scaling-fader:hover::-ms-fill-lower {
	background: var(--cfg);
}
.scaling-fader:focus::-ms-fill-upper,
.scaling-fader:hover::-ms-fill-upper {
	background: var(--cfg-emphasis);
}
.scaling-fader:focus {
	box-shadow: 0 0 2px rgba(var(--cfg-emphasis-rgb), 0.5);
}

@supports (-ms-ime-align: auto) {
	.scaling-fader {
		margin: 0;
	}
}
.scaling-fader-label {
	font: inherit;
	margin: 18px 0 0;
	padding: 0;
}
.scaling-fader-button {
	background: var(--cui);
	border: 6px solid var(--cfg);
	border-radius: 8px;
	cursor: pointer;
	font: inherit;
	margin: auto;
	padding: 1em 1em 0.9em;
}
.scaling-fader-button:active {
	background: var(--cui-emphasis);
}
.scaling-faders-loading {
	margin: auto;
}
.scaling-fader-mode-toggle {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.scaling-fader-mode-toggle + label::before {
	background: var(--cbg);
	border: 6px solid var(--cfg);
	border-radius: 50%;
	box-sizing: content-box;
	content: '';
	display: inline-block;
	height: calc(var(--fader-width) * 3);
	margin-right: 0.5em;
	vertical-align: text-bottom;
	width: calc(var(--fader-width) * 3);
}
.scaling-fader-mode-toggle:checked + label::before {
	background: var(--cui);
}
.scaling-fader-mode-toggle:active + label::before {
	background: var(--cui-emphasis);
}
@media only screen and (max-width: 600px) {
	:root {
		--fader-height: 160px;
		--fader-width: 4px;
	}
	.scaling-faders-demo {
		font-size: 18px;
	}
}
