.site-nav {
	grid-column: left-column / span 1;
	grid-row: 2 / span 1;
	height: min-content;
	z-index: 1;
}
.site-nav-menu-button {
	display: none;
}
.site-nav a {
	font-size: var(--fs--1);
	text-decoration: none;
}
.site-nav .active a {
	color: var(--color-fg-selected);
}

@media screen and (width <= 1000px) {
	.site-nav {
		grid-column: right-column / span 1;
		grid-row: 1 / span 1;
		margin-top: var(--s--3);
	}
	.site-nav ul.hidden {
		display: none;
	}
	.site-nav ul {
		background: var(--color-bg);
		display: flex;
		flex-direction: column;
		inset: 0;
		list-style: none;
		margin: 0;
		overflow: auto;
		overscroll-behavior: contain;
		padding: 0;
		position: fixed;
		transition: background-color var(--transition-t)
			var(--transition-easing);
	}
	.site-nav li {
		border-radius: 0 1000px 1000px 0;
		box-sizing: content-box;
		display: flex;
		flex: 1 1 0;
	}
	.site-nav a {
		align-items: center;
		display: flex;
		flex-grow: 1;
		font-family: var(--ff-heading);
		font-size: var(--fs-2);
		justify-content: center;
		width: 100%;
	}
	.site-nav a,
	.settings svg {
		animation:
			fade-in var(--transition-t-xslow) var(--transition-easing) forwards,
			slide-right var(--transition-t-xslow) var(--transition-easing)
				forwards;
	}
	.site-nav .site-nav-menu-button {
		background: transparent;
		border: none;
		color: var(--color-fg);
		display: grid;
		font-size: var(--fs-1);
		height: 2em;
		margin-left: auto;
		margin-right: -0.5em;
		margin-top: calc((var(--s-2) - 2em) / 2);
		padding: 0.5em;
		place-items: center;
		position: relative;
		width: 2em;
		z-index: 2;
	}
	.site-nav .site-nav-menu-button.open {
		position: fixed;
		right: 1em;
		top: 0;
	}
	.site-nav .site-nav-menu-button:hover,
	.site-nav .site-nav-menu-button:focus {
		color: var(--color-fg-bold);
	}
	.settings {
		align-items: stretch;
		display: flex;
		flex: 1 1 0;
		font-size: 0;
		height: 120px;
		justify-content: stretch;
	}
	.site-nav .active a {
		color: inherit;
	}
	.site-nav li:nth-child(1) a {
		animation-delay:
			0s,
			-0.5s;
	}
	.site-nav li:nth-child(2) a {
		animation-delay:
			0s,
			-0.4s;
	}
	.site-nav li:nth-child(3) a {
		animation-delay:
			0s,
			-0.3s;
	}
	.site-nav li:nth-child(4) a {
		animation-delay:
			0s,
			-0.2s;
	}
	.site-nav li:nth-child(5) a {
		animation-delay:
			0s,
			-0.1s;
	}
}

@keyframes slide-right {
	from {
		transform: translate3d(-24px, 0, 0);
	}
	to {
		transform: none;
	}
}
