.site-nav {
	grid-column: left-column / span 1;
	grid-row: 2 / span 1;
	z-index: 1;
}
.site-nav-menu-button {
	display: none;
}
.site-nav a {
	color: var(--color-fg);
	text-decoration: none;
}
.site-nav .active a {
	color: var(--color-blue);
}

@media screen and (width <= 1000px) {
	.site-nav {
		grid-column: right-column / span 1;
		grid-row: 1 / span 1;
		margin-top: var(--font-scale-1);
	}
	.site-nav ul.hidden {
		display: none;
	}
	.site-nav ul {
		background: var(--color-bg);
		display: flex;
		flex-direction: column;
		inset: 0;
		list-style: none;
		margin: 0;
		overflow: auto;
		overscroll-behavior: contain;
		padding: 0;
		position: fixed;
	}
	.site-nav li {
		border-radius: 0 1000px 1000px 0;
		box-sizing: content-box;
		display: flex;
		flex: 1 1 0;
	}
	.site-nav a {
		align-items: center;
		display: flex;
		flex-grow: 1;
		font-family: var(--fh);
		font-size: var(--font-scale-2);
		font-weight: 400;
		justify-content: center;
		width: 100%;
	}
	.site-nav a,
	.settings svg {
		animation:
			fade-in 1s ease-in-out,
			slide-right 1s ease-in-out;
	}
	.site-nav .site-nav-menu-button {
		align-items: center;
		background: var(--color-bg);
		border: none;
		color: var(--color-fg);
		display: flex;
		font-size: var(--font-scale-1);
		height: 2em;
		justify-content: center;
		margin-left: auto;
		margin-right: -0.5em;
		margin-top: calc((60px - 2em) / 2);
		padding: 0.5em;
		position: relative;
		width: 2em;
		z-index: 2;
	}
	.site-nav .site-nav-menu-button:hover,
	.site-nav .site-nav-menu-button:focus {
		color: var(--color-fg-bold);
	}
	.settings {
		align-items: stretch;
		display: flex;
		flex: 1 1 0;
		font-size: 0;
		height: 120px;
		justify-content: stretch;
	}
	.site-nav .active a {
		color: var(--color-fg);
	}
	.site-nav li:nth-child(1) a {
		animation-delay:
			0s,
			-0.5s;
	}
	.site-nav li:nth-child(2) a {
		animation-delay:
			0s,
			-0.4s;
	}
	.site-nav li:nth-child(3) a {
		animation-delay:
			0s,
			-0.3s;
	}
	.site-nav li:nth-child(4) a {
		animation-delay:
			0s,
			-0.2s;
	}
	.site-nav li:nth-child(5) a {
		animation-delay:
			0s,
			-0.1s;
	}
}
