.site-nav {
	left: 18px;
	position: fixed;
	top: 24px;
	z-index: 1;
}
.site-nav button {
	align-items: center;
	background: var(--white);
	border: none;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: var(--black);
	cursor: pointer;
	display: flex;
	font-size: var(--font-scale-2);
	height: 54px;
	justify-content: center;
	padding: 0;
	position: relative;
	transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	width: 54px;
	z-index: 1;
}
.site-nav button:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.site-nav button svg {
	fill: var(--black);
	height: 50%;
}
.site-nav ul {
	animation: fade-to-white 0.5s;
	background: var(--white);
	bottom: 0;
	flex-direction: column;
	left: 0;
	list-style: none;
	margin: 0;
	overscroll-behavior: contain;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: background 0.5s ease-out;
}
@keyframes fade-to-white {
	from {
		background: rgba(var(--whitergb), 0);
	}
	to {
		background: rgba(var(--whitergb), 1);
	}
}
.site-nav ul:not([hidden]) {
	display: flex;
}
.site-nav li {
	animation: fly-in 1s cubic-bezier(0.57, 0.21, 0.69, 1.25); /* Only actually takes half this time. */
	border-radius: 0 1000px 1000px 0;
	box-sizing: content-box;
	display: flex;
	flex-grow: 1;
	padding-left: 10%;
	padding-right: 100%;
	transform: translate3d(-5%, 0, 0);
	width: 100%;
}
@keyframes fly-in {
	from {
		transform: translate3d(-100%, 0, 0);
	}
	50% {
		transform: translate3d(-100%, 0, 0);
	}
	to {
		transform: translate3d(-5%, 0, 0);
	}
}
.site-nav li:nth-child(1) {
	animation-delay: -0.5s;
	background: var(--green);
}
.site-nav li:nth-child(2) {
	animation-delay: -0.4s;
	background: var(--red);
}
.site-nav li:nth-child(3) {
	animation-delay: -0.3s;
	background: var(--blue);
}
.site-nav li:nth-child(4) {
	animation-delay: -0.2s;
	background: var(--yellow);
}
.site-nav li:nth-child(5) {
	animation-delay: -0.1s;
	background: var(--magenta);
}
.site-nav a {
	align-items: center;
	color: var(--white);
	display: flex;
	flex-grow: 1;
	font-family: var(--font-stack-heading);
	font-size: 42px;
	font-weight: 700;
	justify-content: center;
	text-decoration: none;
	width: 100%;
}
.site-nav a:hover span {
	animation: hop 0.16s alternate infinite ease-in-out;
}
@keyframes hop {
	from {
		transform: translate3d(0, 0, 0);
	}
	50% {
		transform: translate3d(0, -0.125em, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
.site-nav a:hover span:nth-child(2) {
	animation-delay: 0.04s;
}
.site-nav a:hover span:nth-child(3) {
	animation-delay: 0.08s;
}
.site-nav a:hover span:nth-child(4) {
	animation-delay: 0.12s;
}
.site-nav a:hover span:nth-child(5) {
	animation-delay: 0.16s;
}
.site-nav a:hover span:nth-child(6) {
	animation-delay: 0.2s;
}
.site-nav a:hover span:nth-child(7) {
	animation-delay: 0.24s;
}
.site-nav a:hover span:nth-child(8) {
	animation-delay: 0.28s;
}
.site-nav a:hover span:nth-child(9) {
	animation-delay: 0.32s;
}
.site-nav a:hover span:nth-child(10) {
	animation-delay: 0.36s;
}
.site-nav a:hover span:nth-child(11) {
	animation-delay: 0.4s;
}
/* TODO(riley): Share these breakpoints. */
@media only screen and (max-width: 800px) {
	.site-nav {
		background: var(--black);
		height: 36px;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;
		width: 100%;
	}
	.site-nav button {
		border: none;
		border-radius: 0;
		box-shadow: none !important;
		height: 36px;
		transition: none;
		width: 36px;
	}
	.site-nav button.open {
		position: fixed;
	}
	.site-nav button svg {
		height: 80%;
	}
}
