.doodle-background-generator {
	align-items: center;
	cursor: pointer;
	display: flex;
	grid-area: span 2 / span 3;
	height: 100%;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	justify-content: center;
}
.doodle-background-generator span {
	background: var(--cbg);
	border: 6px solid var(--cfg);
	font-family: var(--fh);
	font-size: var(--font-scale--1);
	font-weight: 900;
	letter-spacing: 2px;
	padding: 6px 12px;
	text-transform: uppercase;
}
