.doodle-constrained-lines {
	align-items: center;
	background: var(--color-bg-mute);
	cursor: pointer;
	display: flex;
	grid-area: span 3 / span 3;
	justify-content: center;
}
.doodle-constrained-lines canvas {
	max-height: 100%;
	max-width: 100%;
}
