.doodle-game-over {
	align-items: center;
	display: flex;
	flex-direction: column;
	grid-area: span 2 / span 3;
	height: 100%;
	justify-content: center;
}
.doodle-game-over p {
	flex-basis: 0;
	font-family: var(--ff-sans);
}
.doodle-game-over .main-text {
	font-weight: 700;
	letter-spacing: 2px;
	margin: 1.5em 0 0;
}
.doodle-game-over .play-again {
	font-size: var(--fs--2);
	margin: 0 0 1.5em;
	max-height: 0;
	opacity: 0;
	pointer-events: none;
	transition:
		opacity var(--transition-t-slow) var(--transition-t-slow),
		max-height var(--transition-t-slow) 1s;
	will-change: max-height;
}
.doodle-game-over .play-again.show {
	max-height: 3em;
	opacity: 1;
	pointer-events: auto;
	transition:
		opacity var(--transition-t-slow) 1s,
		max-height var(--transition-t-slow) var(--transition-t-slow);
}
.doodle-game-over button {
	background: none;
	border: 0;
}
