.doodle-propellers {
	align-items: center;
	background: var(--color-bg-mute);
	cursor: pointer;
	display: flex;
	grid-area: span 3 / span 3;
	height: 100%;
	justify-content: center;
}
.doodle-propellers canvas {
	background: var(--color-bg);
	border: 4px solid var(--color-fg);
	border-radius: 50%;
	max-height: 86%;
	max-width: 86%;
}
