.doodle-riot {
	background: var(--color-blue-900);
	color: var(--color-red-500);
	grid-area: span 1 / span 2;
	height: 100%;
	overflow-anchor: none;
	position: relative;
}
.doodle-riot .riot-overlay {
	font: 900 var(--fs-3) var(--ff-heading);
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	transition: transform var(--transition-t-fast) linear;
}
