:root {
	--white: #fff;
	--red: #ff4136;
	--green: #2ecc40;
	--blue: #0074d9;
	--cyan: #00bcd4;
	--magenta: #e91e63;
	--yellow: #ffdc00;
	--black: #030401;
	--font-stack-sans: Arial, "Helvetica Neue", Helvetica, sans-serif;
	--font-stack-serif: Georgia, Palatino, "Palatino Linotype", Times,
		"Times New Roman", serif;
	--font-stack-heading: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	border: 16px solid var(--black);
	color: var(--black);
	font-family: var(--font-stack-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	min-height: 100vh;
}
a {
	color: var(--blue);
}
a[target="_blank"] {
	cursor: alias;
}
a[target="_blank"]::after {
	content: "➚";
}
p {
	font-family: var(--font-stack-serif);
}
