:root {
	--fss: 'Geomanist', arial, 'Helvetica Neue', helvetica, sans-serif;
	--fs: charter, georgia, palatino, 'Palatino Linotype', times,
		'Times New Roman', 'Century Schoolbook L', serif;
	--fh: 'Geomanist', 'Proxima Nova', 'Montserrat', 'Arial Black',
		'Arial Bold', gadget, sans-serif;
	--fm: 'Courier New', courier, 'Lucida Sans Typewriter', 'Lucida Typewriter',
		monospace;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
	transition-property: background-color, border-color, color, opacity;
}
::selection {
	background: var(--color-s3);
}
html,
body {
	overflow: auto;
}
body,
h1,
h2,
h3,
h4,
p,
li,
blockquote,
figure,
dl,
dd {
	margin: 0;
}
ul[class],
ol[class],
.dark-theme ul[class],
.dark-theme ol[class] {
	list-style: none;
	margin: 0;
	padding: 0;
}
input,
button,
textarea,
select,
pre,
code {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}
input[type='text'] {
	background: var(--color-bg-bold);
}
button {
	cursor: pointer;
}
html {
	background: var(--color-bg);
	color: var(--color-fg);
	font: 18px/1.7 var(--fss);
	scroll-behavior: smooth;
}
@media (prefers-reduced-motion) {
	html {
		scroll-behavior: auto;
	}
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	text-rendering: optimizelegibility;
}
h1,
h2,
h3,
h4 {
	font-family: var(--fh);
	font-weight: 500;
}
/* TODO(riley): I wanted to delete these rules at some point. Starting here… */
h1 {
	font-size: var(--font-scale-4);
	margin: var(--font-scale--1) 0 var(--font-scale--4);
}
h2 {
	font-size: var(--font-scale-3);
	margin: var(--font-scale-0) 0 0;
}
h3,
h4 {
	font-size: var(--font-scale-1);
	margin: var(--font-scale-2) 0 var(--font-scale--1);
}
p,
dd {
	margin-bottom: var(--font-scale-1);
	margin-top: 1em;
}
/* …and ending here. */
p,
li,
dt,
dd {
	font-family: var(--fs);
}
code,
pre {
	font-family: var(--fm);
	overflow: auto;
}
a {
	color: var(--color-blue);
}
a[target='_blank'] {
	cursor: alias;
}
a[target='_blank']::after {
	content: '\202F\279A';
	font-family: var(--fs);
}
.dark-theme ul {
	list-style: disc;
}
.dark-theme ::selection {
	background: var(--color-p2);
}
