@font-face {
	font-display: fallback;
	font-family: Geomanist;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/geomanist-regular-webfont.woff2') format('woff2'),
		url('/fonts/geomanist-regular-webfont.woff') format('woff');
	unicode-range: U+20-7E, U+A0, U+2013, U+2014, U+2018, U+2019, U+201C,
		U+201D, U+2022, U+2026, U+25BC, U+27A1, U+FE0E;
}

@font-face {
	font-display: fallback;
	font-family: Geomanist;
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/geomanist-regular-italic-webfont.woff2') format('woff2'),
		url('/fonts/geomanist-regular-italic-webfont.woff') format('woff');
	unicode-range: U+20-7E, U+A0, U+2013, U+2014, U+2018, U+2019, U+201C,
		U+201D, U+2022, U+2026, U+25BC, U+27A1, U+FE0E;
}

@font-face {
	font-display: fallback;
	font-family: Geomanist;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/geomanist-medium-webfont.woff2') format('woff2'),
		url('/fonts/geomanist-medium-webfont.woff') format('woff');
	unicode-range: U+20-7E, U+A0, U+2013, U+2014, U+2018, U+2019, U+201C,
		U+201D, U+2022, U+2026, U+25BC, U+27A1, U+FE0E;
}

@font-face {
	font-display: fallback;
	font-family: Geomanist;
	font-style: italic;
	font-weight: 500;
	src: url('/fonts/geomanist-medium-italic-webfont.woff2') format('woff2'),
		url('/fonts/geomanist-medium-italic-webfont.woff') format('woff');
	unicode-range: U+20-7E, U+A0, U+2013, U+2014, U+2018, U+2019, U+201C,
		U+201D, U+2022, U+2026, U+25BC, U+27A1, U+FE0E;
}

@font-face {
	font-display: fallback;
	font-family: Geomanist;
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/geomanist-black-webfont.woff2') format('woff2'),
		url('/fonts/geomanist-black-webfont.woff') format('woff');
	unicode-range: U+20-7E, U+A0, U+2013, U+2014, U+2018, U+2019, U+201C,
		U+201D, U+2022, U+2026, U+25BC, U+27A1, U+FE0E;
}

@font-face {
	font-display: fallback;
	font-family: Geomanist;
	font-style: italic;
	font-weight: 900;
	src: url('/fonts/geomanist-black-italic-webfont.woff2') format('woff2'),
		url('/fonts/geomanist-black-italic-webfont.woff') format('woff');
	unicode-range: U+20-7E, U+A0, U+2013, U+2014, U+2018, U+2019, U+201C,
		U+201D, U+2022, U+2026, U+25BC, U+27A1, U+FE0E;
}
